  
<html class="page_container">

    <head>
        <title>
            About Us
        </title>
        <link rel="stylesheet" href="about.component.scss">
    </head>
    
    <body>
    
        <div class="container">
            <h1>ABOUT US...</h1>
            <P>Our mission is to give the best quality services to all of our customers.We offer a varied fleet of cars, ranging from the compact Toyota Yaris to the 8-seater VW Multivan. All our vehicles have air conditioning, power steering, electric windows.
                All our vehicles are bought and maintained at official dealerships only. Automatic transmission cars are available in every booking class.</P>
            <p>Car rental company provides cars temporarily to their customers for a fee during a specified period. For those who have not their personal vehicles to travel can rent a car from these kind of companies.“Global Rent a Car” online system provides
                more efficient and easy way to rent a car for customers, and also enhances the business process with simplifying the management.Global Rent A Car has a new face. After more than 20 years in business, we decided to give a fresher look to our
                brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations and requirements.We pride ourselves on personalized service, great cars and excellent rates.</p>
            <!-- <center> -->
            <button class="btn" (click)="goToPage('contact')" >Contact Us... </button>
            <!-- </center> -->
        </div>
    </body>
    
    </html>