<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand fa fa-car" aria-hidden="true" routerLink="/">GLOBAL CAR RENTAL</a>
    </div>
    <ul class="nav navbar-nav"> 
      <li class="nav-item link1">
        <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item link1">
      <a class="nav-link" routerLink="/about">About Us</a>
    </li>
    <li class="nav-item link1">
      <a class="nav-link" routerLink="/vehicle-list">Vehicles</a>
  </li>
   
    <li class="nav-item link1">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
    <li class="nav-item link1">
        <a class="nav-link" routerLink="/feedback">Feedback</a>
    </li>
   
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <span class="glyphicon glyphicon-user"></span>
        <a class="nav-link fa fa-registered" aria-hidden="true" routerLink="/register">Register</a>
    </li>
    <li class="nav-item ">
     
      <a class="nav-link fa fa-sign-in" *ngIf="!isSignedIn" aria-hidden="true" routerLink="/login" >Log in</a>
      
      <a class="nav-link fa fa-user" routerLink="/profile" aria-hidden="true" *ngIf="isSignedIn">User Profile</a>
    </li>
    <li class="nav-item">
      <button class="btn fa fa-sign-out nav-link btn-xs" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
  </li>
    </ul>
   
  </div>
</nav>



<router-outlet></router-outlet>
