<div class="page_container">
<ngb-carousel >
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img class="img" src="../../assets/A.jpg" alt="Random first slide">
	  </div>
	  <div class="carousel-caption ">
		  <div class="headani" data-text="GLOBAL&nbsp; CAR&nbsp; RENTAL">GLOBAL&nbsp; CAR&nbsp; RENTAL</div>
		<div class="txt1">Since 1997
			<br><br><br><p>WE HAVE A RANGE OF DIFFERENT VEHICLES</p> 
		</div>
	    </div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img class="img" src="../../assets/B.jpg" alt="Random second slide">
	  </div>
	  <div class="carousel-caption">
		<div class="txt2">Since 1997
			<br><br><br><p>WE HAVE A RANGE OF DIFFERENT VEHICLES</p> 
		</div>
	</div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img class="img" src="../../assets/c17.jpg" alt="Random third slide">
	  </div>
	  <div class="carousel-caption">
		<div class="txt3">Since 1997
			<br><br><br><p>WE HAVE A RANGE OF DIFFERENT VEHICLES</p> 
		</div>
	</div>
	</ng-template>
  </ngb-carousel>
</div>
