.page_container
{
    margin-top: 40px;
    margin-bottom: 20px;

}
.footer{
    background: #343a40;
    height: 250px;
}
.footer_text{
    color: white;
}

.subscribe_box{
    padding-left: 20px;
    padding-top: 25px;
}
.contact_tab{
    height: 40px;
    width: 50%;
    padding-left: 70px;
}

.social_icon{
    width: 50px;
    float: left;
    color: white;
    font-size: 33px;
    padding: 50px;
    margin-top:40px ;

}

.text-site{
    margin-left: 100px;
}