<div class="page_container">
    <p>contact works!</p>
</div>
<div class="row ">
    <div class="col-sm-6 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.0910778850416!2d80.02274094852004!3d9.673259081199225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe559e2e91c8db%3A0x104763378630cf6a!2sGlobal%20Rent%20A%20Car!5e0!3m2!1sen!2slk!4v1607613691799!5m2!1sen!2slk" width="450" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-site">Contact Form</h4>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label >Enter Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label >Enter E-Mail</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label >Enter Phone No</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label >Enter Message</label>
                   <textarea class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Posting Date </label>
                   <input type="date" class="form-control" >
                 </div>
                <div class="form-group">
                    <button class="btn btn-info">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-sm-4 subscribe_box">
            <p class="footer_text"> welcome </p>
            <h3 class="footer_text" >For Latest Update Subscribe Now !</h3>
            <input type="email"name="email" class="form-control" placeholder="E-Mail"/>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center mt-3 footer_text">Contact Information</h4>
            <table>
                <tr>
                    <td class="contact_tab footer_text">E-mail :-</td>
                    <td class="contact_tab footer_text">globalrent25@gmail.com</td>
                </tr>
                <tr>
                    <td class="contact_tab footer_text">Phone Number :-</td>
                    <td class="contact_tab footer_text">+94 770712317</td>
                    
                </tr>
                <tr>
                    <td class="contact_tab footer_text">Address :-</td>
                    <td class="contact_tab footer_text">90,Nallur Road, Jaffna.</td>
                </tr>
                
            </table>
        </div>
        <div class="col-sm-4">
            <div class="social_icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
            <div class="social_icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <div class="social_icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="social_icon"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
        </div>
    </div>
    
</div>
