  <body class="page_container">
    <style>
      .my-pagination /deep/ .ngx-pagination .current {
        background: red;
        color:white;
      }
    </style>
    <div><br>
      <div class="row">
        <div class="input-group col-4">
          
          <input [(ngModel)]='VehicleName' class="form-control m search-menu" (input)="Search()" placeholder="Search...">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <button class="btn-outline-primary" type="button" (click)="Search()">Search</button>
          <button class="btn-outline-primary" type="button" (click)="onNameFilterClear()">Clear</button> 
         </div>
        <div class="input-group col-4">
          <label>&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;</label>
          <select [(ngModel)] = 'SortbyParam' name="Select">
            <option value="" selected>Select</option>
            <option value="price_per_day">Price</option>
            <option value="model_year">Model Year</option>
          </select>
          <button type="button" (click) = "onSortDirection()"> 
            <i *ngIf="SortDirection ==='asc'" class="fas fa-sort-alpha-down"></i>
           <i *ngIf="SortDirection ==='desc'" class="fas fa-sort-alpha-up"></i>
         </button>
        </div>
      </div>
       
      <br>
     <div class="row">
          <div *ngFor="let vehicle of vehicles|filter:SearchName:'vehicle_name'| sort:[SortbyParam,SortDirection] | paginate:{ itemsPerPage:8,currentPage:p}"
           class="col-sm-3">
            <div class=" p-3 mb-2">
                <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
            </div>
        </div>
        </div>
    </div>
    <pagination-controls class="pagination  my-pagination text-center text-light" maxSize="4" (pageChange)="p = $event"></pagination-controls>
 
  </body>