body{
  background-image:url("../../../assets/b6.jpg") ;
  background-size: 100%;
  background-size: cover;
  height: auto;
  //background-color: black;
}

.error-block {
    color: red;
  }
.card-body , .card , .card-header,.tab-panel,.member-tabset{
  background: rgba(219, 192, 192, 0.1);
 // color: white;
}

.form-control{
  background: rgba(45, 51, 136, 0.2);
  color: rgb(255, 255, 255);
}
.card-center{
  margin-left: 100px;
}
.footer_text{
  color: white;
}
.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    
  }
  