body{
    background-image:url("../../../assets/b12.jpg") ;
    background-size: 100%;
    background-size: cover;
    height: 800px;
    color: blanchedalmond;
}

.container{   
    margin: auto;
}
.page-top{
    margin-top: -672px;
    
}

.pagination {
    margin-left: 70%;
    margin-top:100px;
    position: relative;
}

.page-left{
    margin-left: 300px;
  }
  thead {
    background-color: rgb(17, 0, 43);
    color: white;
  } 