body{
    background-image:url("../../../assets/b12.jpg") ;
    background-size: 100%;
    background-size: cover;
    height: 800px;
    color: blanchedalmond;
}

.container{   
    margin: auto;
}
.page-top{
    margin-top: -672px;
    
}