  
<div class="row shadow">
    <div class="col-sm-4 p-0">
      <div class="card">
        <div class="card-img-wrapper">
            <img *ngIf="vehicle?.veh_img" class="card-img-top" src="http://localhost:8000/img/{{vehicle.veh_img}}">
            <img *ngIf="!vehicle?.veh_img" class="card-img-top" src="assets/emty.png">
        </div>
        <div class="card-body">
          <h1 class="card-title">{{vehicle?.vehicle_name}}</h1>
          <div>
              <strong>{{vehicle?.vehicle_overview}} , {{vehicle?.vehicle_brand}} </strong>
          </div>
          <div>
             <strong>in {{vehicle?.model_year}}</strong>
          </div> <hr>
          <div>
              <strong> Model_Year: </strong>
              {{vehicle?.model_year}} 
          </div>
  
          <div>
              <strong>Register: </strong>
              Yes
          </div>
          <div>
              <strong>Vehicle Type: </strong>
              {{vehicle?.vehicle_brand}}
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success">Message</button>
          </div>
        </div>
    </div>
    </div>
    <div class="col-sm-8 p-0">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <h1>Overview</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Vehicle Name</strong>
                        <p>{{vehicle?.vehicle_name}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Brand Name</strong>
                        <p>{{vehicle?.vehicle_brand}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Model year</strong>
                        <p>{{vehicle?.model_year}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>FuelType</strong>
                        <p>{{vehicle?.fuel_type}}</p>
                    </div>
                </div>
  
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Vehicle Tiers gas</strong>
                        <p>Nitrogen</p>
                          
                    </div>
  
                    <div class="heading">
                        <strong>Detail</strong>
                        <p>{{vehicle?.vehicle_overview}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Vehicle Insurance</strong>
                        <p>Full Insurance</p>
                    </div>
                    <div class="heading">
                        <strong>Seating capasity</strong>
                        <p>{{vehicle?.seating_capacity}}</p>
                    </div>
                    
                </div>
                
              </div>
              <a (click)="goToBooking()" class="button_a">Book Now!</a>
          </tab>
          <tab heading="Photos">  
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Contact">
            <h1>Contact Detail</h1>
            This should be restricted area and only registered user should be able to see seller contact details
          </tab>
        </tabset>
      </div>
    </div>
  </div>