<div class="container-fliuid">
    <div class="request-container row">
        <div class="col-sm-12 text-center">
            <h3>Booking</h3>
        </div>
    </div>
    <form action="">    
    <div class="card container size">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name"> 
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">E-Mail</label>
                        <input type="text" class="form-control" placeholder="Enter E-Mail"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Start date</label>
                        <input type="date" class="form-control" formControlName="Start_date"  placeholder="Rent Date" required autofocus>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">End date</label>
                        <input type="date" class="form-control" formControlName="End_date"  placeholder="End Date" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="Gender">Car Type</label> 
                    <select class="form-control">
                        <option value="volvo">Weddings</option>
                        <option value="saab">Self Drive</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Posting Date</label>
                        <input type="date" class="form-control" formControlName="Posting_Date"  placeholder="End Date" required autofocus>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Message</label>
                            <textarea type="text" formControlName="Message" class="form-control" placeholder="Message" required autofocus></textarea>       
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Book Now</button>
                    </div>
               </div>
          </div>
        </div>
       
    </form>
</div>
