<body class="page_container">
    <div class="row  mb-5">
          <div class="col-8 ">
            <div class=" card col-8 ">
                <div class="card-header">
                  BOOKING
                </div>
                <div class="card-body ">
                  <form [formGroup]='bookForm' (ngSubmit)="onsubmit()">
                  
                          <div class="row">
                            <div class="form-group col-6">
                              <label>Vehicle ID</label>
                              <input type="text" class="form-control" formControlName="vehicle_id" placeholder=""> 
                            </div>
                            <div class="form-group col-6">
                              <label for="">Name</label>
                              <input type="text" class="form-control" formControlName="name" placeholder="Name"> 
                           
                          </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-6">
                              <label>Email</label>
                              <input type="text" class="form-control" formControlName="email" placeholder="Email"> 
                            </div>
                            <div class="form-group col-6">
                              <label for="">Phone No</label>
                              <input type="text" class="form-control" formControlName="phone_no" placeholder="Phone No"> 
                           
                          </div>
                          </div>


                          <div class="row">
                            <div class="form-group col-6">
                                <label for="">Start date</label>
                                <input type="date" class="form-control" formControlName="start_date"  placeholder="Rent Date" required autofocus>
                                
                            </div>
                            <div class="form-group col-6">
                                <label for="">End date</label>
                                <input type="date" class="form-control" formControlName="end_date"  placeholder="End Date" required autofocus>
                                
                            </div>
                          </div>
                           <div class="row">
                            <div class="form-group col-6">
                                <label for="Gender">Car Type</label> 
                                <select class="form-control" formControlName="car_Type">
                                    <option value="Wedding">Weddings</option>
                                    <option value="Self">Self Drive</option>
                                    </select>
                              </div>

                              <div class="form-group col-6">
                                <label for="">Posting Date</label>
                                <input type="date" class="form-control" formControlName="posting_date"  placeholder="End Date" required autofocus>
                                
                              </div>
                           
                           </div>
              
                           
            
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-block btn-primary">Book Now</button>
                            </div>
                  </form>
                </div>
            </div>
          </div>
      </div>
  </body>