<app-dashbord></app-dashbord>
<body class="page_container page-top">
  <style>
    .my-pagination /deep/ .ngx-pagination .current {
      background: red;
    }
  </style><br>
    <div class="row">
      <div class="col-8">
        <i class='fas fa-car' style='font-size:20px;color:red'></i>
        <i class='fas fa-car' style='font-size:30px;color:blue'></i>
        <i class='fas fa-car' style='font-size:40px;color:white'></i>
        <i class='fas fa-car' style='font-size:30px;color:blue'></i>
        <i class='fas fa-car' style='font-size:20px;color:red'></i>        
      </div>
      <div class="col-4">
        <div class="pull-right  p-4" style="font-size: 20px; font-weight: bold;color:white">Total Contacts: </div>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-8 m-5">
      </div>
      <div class=" input-group col-2 m-5">
        <input [(ngModel)]='selectValue' class="form-control search-menu" placeholder="Search...">
         <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
      </div>
      </div>
    </div>

    <div class="row mt-2 p-3 page-left ">
      <div class="col-md-12">
        <table *ngIf = "contactArray?.length > 0; else noContact" class="table table-dark table-striped table-hover">
          <thead class="thead-inverse ">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>Phone Num</th>
              <th>Message</th>
              <th>Posting date</th>
              <th>Delete</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let contact of contactArray | contactsearch:selectValue | paginate:{ itemsPerPage:6,currentPage:p}">
              <td>{{contact.id}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td> 
              <td>{{contact.phone_num}}</td>
              <td>{{contact.message}} </td>
              <td>{{contact.Posting_date}}</td>
             <td><i class='fas fa-trash-alt' (click)="deleteData(contact.id)"  style='font-size:20px;color:rgb(252, 35, 35)'></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noContact>
      <hr />
      <h4>There are no Contact in the system</h4>
    </ng-template>
    <pagination-controls class="pagination float-right my-pagination" maxSize="4" (pageChange)="p = $event"></pagination-controls>
 
  </body>
    
  
  