body{
    background-image:url("../../../assets/H.jpg") ;
    background-size: 100%;
    background-size: cover;
    color: blanchedalmond;
    height: 800px;
}

.container{
    
    margin: auto;
}


.button_a{
    background-color: rgb(32, 119, 46);
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    width: 100px;
    margin-bottom: 400px;
    text-align: center;
    text-decoration: none;
   
    
  }
 
  .button_a:hover{
    background-color: rgb(138, 138, 138);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s ease;
    
  }

  .page-top{
    margin-top: -672px;
    
}