<div class="wrapper">
    <div class="container">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="h3 mb-3 font-weight-normal text-center">Sign in</h2>

      <!-- Errors -->
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
          {{ errors?.email }}
      </div>
      <div *ngIf="errors?.password" class="alert alert-danger mt-3">
          {{ errors?.password }}
      </div>
      <div *ngIf="errors?.error" class="alert alert-danger mt-3">
          {{ errors?.error }}
      </div>

      <!-- Login -->
      <div class="form-group">
          <label></label>
          <input type="email" class="form-control" formControlName="email" placeholder="E-Mail"/>
      </div>
      <div class="form-group">
          <label></label>
          <input type="password" class="form-control" formControlName="password" placeholder="password"/>
      </div>
      <button type="submit" id="login-button">Log in</button>
  </form>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</div>
</div>
<script type="text/javascript">
	
    $("#login-button").click(function(event){
        event.preventDefault();
    
    $('form').fadeOut(500);
    $('.wrapper').addClass('form-success');
});
</script>
<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->





	
	
	
