html,body,.auth-wrapper{height:100%;}
.auth-wrapper {display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;background-image:url("assets/b6.jpg");}
.form-signin {width:100%;max-width:550px;padding:15px;margin:auto;}
.form-signin .checkbox{font-weight:400;}
.form-signin .form-control{position:relative;box-sizing:border-box;height:auto;padding:10px;font-size:16px;}
.form-control:focus{box-shadow:none;}
label{font-weight:500;}
.container{max-width:600px;}
.inner-main{margin-top:130px;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/form.scss';
@import 'assets/form.scss';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

// new fonts from Google Fonts
@import '../src/assets/font/fonts/font.css';

//import custom scss folder files


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.page_container
{
    margin-top:-20px;
    margin-bottom:10px;

}