body{
    background-image:url("../../../assets/w7.png") ;
    background-size: 100%;
    background-size: cover;
    height: 800px;
}

.container{
    
    margin: auto;
}

.txt{
    color: white;
}

.page-top{
    margin-top: -672px;
    
}