body{
  background-image:url("../../../assets/s.jpg") ;
  height: 1500px;
}

.text1{
    color: white;
    
}

.card{
    height: 1000px; 
    background-color: rgba(5, 2, 31, 0.2);
}

.card-body{
  background-color: rgba(19, 0, 194, 0.24);
  
}

.form-control{
    background-color: rgba(248, 242, 242, 0.856);
    color: rgb(8, 8, 8);
}

form button {
    appearance: none;
outline: 0;
background-color: white;
border: 0;
padding: 10px 15px;
color: #000000;
border-radius: 4px;
width: 520px;
cursor: pointer;
font-size: 15px;
transition-duration: 0.25s;
background-color: rgb(22, 141, 42);
 
}

form input:hover {
    background-color: rgba(12, 12, 12, 0.774);
    color: rgb(255, 255, 255);
  }
  form input:focus {
    background-color: rgb(244, 252, 251);
   // width: 300px;
    color: #000000;
  }


  form input {
appearance: none;
outline: 0;
border: 1px solid rgba(252, 249, 249, 0.692);
border-radius: 3px;
padding: 10px 15px;
margin: 0 auto 10px auto;
display: block;
font-size: 14px;
color: rgb(0, 0, 0);
-webkit-transition-duration: 0.25s;
transition-duration: 0.25s;
font-weight: 300;

}




form button:hover {
   color: white;
    background-color:rgb(0, 65, 204);
  }

  form button{
    //size:40px;
    cursor: pointer;
    font-size: large;
     } 
  