<body>
    <div class="page_container">
    <section class="container">
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c7.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c8.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c9.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        
    </section>

    <section class="container">
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c10.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c11.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/c12.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        
    </section>
    <section class="container">
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/G.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/H.jpg"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        <div class="card">
            <div class="card-image"><img class="img" src="../../assets/w7.png"></div>
            <h2>Title</h2>
            <p>text</p>
        </div>
        
    </section>
    </div>
</body>